@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    overflow-x: hidden;
    @apply bg-indigo-500;
  }

  * {
    @apply selection:bg-fuchsia-300 selection:text-fuchsia-900 box-border font-crimson;
  }

  ::-webkit-scrollbar {
    display: none;
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    display: none;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    display: none;
  }
}

@layer utilities {
  .bg-radial-gradient {
    background: radial-gradient(
      800px circle at var(--mouse-x) var(--mouse-y),
      rgba(255, 255, 255, 0.06),
      transparent 40%
    );
  }

  .bg-radial-gradient-border {
    background: radial-gradient(
      400px circle at var(--mouse-x) var(--mouse-y),
      rgba(255, 255, 255, 1),
      transparent 40%
    );
  }

  .box-shadow-light-inset {
    box-shadow: 0 0 50px #c62368, -10px 0 80px #c62368;
  }

  .animation {
    animation: rubberband 800ms alternate ease-out;
  }
}
