@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    overflow-x: hidden;
    @apply bg-indigo-500;
  }

  * {
    @apply selection:bg-fuchsia-300 selection:text-fuchsia-900 box-border font-crimson;
  }

  ::-webkit-scrollbar {
    display: none;
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    display: none;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    display: none;
  }
}

@layer utilities {
  .box-shadow-light-inset {
    box-shadow: 0 0 50px #c62368, -10px 0 80px #c62368;
  }

  .animation {
    animation: rubberband 800ms alternate ease-out;
  }
}
